fastapi
uvicorn[standard]
sqlalchemy
python-multipart
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
pillow
torchxrayvision
scikit-learn
scipy
psycopg2-binary
aiofiles
matplotlib
scikit-image
grad-cam
requests
httpx
python-socketio
twilio
google-genai
numpy<2.0.0
